/********************************************/
/* INICIO VARIABLES Y DEFINICIONES GLOBALES */
/*                                          */
/* Estilo: MobileFirst                      */
/********************************************/

:root{
  --AltoTopBar:max(12vh, 80px);
  --AltoInicioYAcercaDe: calc(100vh - var(--AltoTopBar));
  --AltoFooter:max(8vh, 53px);
  --AnchoInicioYAcercaDe:95vw;
  --Verde:#596A40;
  --Ocre:#DDAC1D;
  --Ciena:#E2DBCF;
  --CienaIluminado: #E4DDD2;
  --ColorMenuFont: var(--Ciena);
  --ColorMenuFontActivo: var(--CienaIluminado);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: ease-in 0.1s all;
  font-family: 'Roboto';

  /* Para ocultar las barras de Scroll */
  scrollbar-color: transparent transparent; /* thumb and track color */
  scrollbar-width: 0px;
  -ms-overflow-style: none;
}

  /* Para ocultar las barras de Scroll */
*::-webkit-scrollbar{width: 0;}
*::-webkit-scrollbar-track{background: transparent;}
*::-webkit-scrollbar-thumb{background: transparent; border: none;}

/********************************************/
/* FIN VARIABLES Y DEFINICIONES GLOBALES    */
/********************************************/

/**************************************/
/* INICIO: GRANDES SECCIONES DEL BODY */
/**************************************/
body {
  min-width: 350px;
  background-color: var(--Ciena);
  color: var(--Verde);
}

header, footer {
  background-color: var(--Verde);
  color: var(--Ciena);
}

header {
  position: fixed;
  top: 0;
  width: 100%;
  height: var(--AltoTopBar);
  overflow-y: auto;
  padding: 2px;
  z-index: 99;

  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
}

main {
/* Para que la TopBar no lo tape el main */
  margin-top: var(--AltoTopBar);
}

footer{
  height: var(--AltoFooter);
  bottom: 0;
  z-index: 99;
}

/**************************************/
/* FIN: GRANDES SECCIONES DEL BODY    */
/**************************************/

/**************************/
/* INICIO: SECCION HEADER */
/**************************/

header img{
  content: url(../img/logoTexto.png); 
  height: calc(var(--AltoTopBar) - 6px);
  padding: 0px 10px;
}

.header__menu{
  height:fit-content;
  height: calc(var(--AltoTopBar) - 6px);
  padding: 0px 10px;

  display: flex;
  flex-flow: row wrap;
  justify-content:end;
  align-items:center;

  overflow-y: auto;
}

.header__menu nav{
  order:1;
  font-size: 120%;
  margin-right: 14px;
}

.header__menu nav ul {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}

.header__menu nav li{
  list-style-type: none; 
  padding: 10px 15px;
  color: var(--ColorMenuFont);
}

.header__menu nav li:hover {
  transform: scale(1.2);
  font-weight: bolder;
  color: var(--ColorMenuFontActivo);
}

.header__menu nav a {
  text-decoration: none;
  color: inherit;
}

.header__menu__redes{
  order:3;
}

.header__menu__redes i {
  color: var(--Ciena);
  transform: scale(1.2);
  padding: 5px;
}

/**************************/
/* FIN: SECCION HEADER    */
/**************************/

/**************************/
/* INICIO: SECCION INICIO */
/**************************/

#Inicio{height: var(--AltoInicioYAcercaDe);}

.carousel {
  margin: auto;
  /* padding: 2px; */
  padding: 2px 0px;
  padding: 0;
  width: var(--AnchoInicioYAcercaDe);
  width: 100%;
  /* height: 85vh; */
  height: var(--AltoInicioYAcercaDe);
  overflow: auto;
  background-attachment: fixed;
}

/**************************/
/* FIN: SECCION INICIO    */
/**************************/

/*****************************/
/* INICIO: SECCION ACERCA DE */
/*****************************/

#AcercaDe {
  display: flex;
  flex-direction: column;
  width: var(--AnchoInicioYAcercaDe);
  margin: 0 auto 10px auto;
  padding: 0px;
}

#AcercaDe__Video {
  position: relative;
  overflow: hidden;
  width: 100%;
  /* 16:9 Aspect Ratio (divide 9 by 16 = 0.5625) */
  /*  4:3 Aspect Ratio (divide 3 by  4 = 0.75)   */
  padding-top: 75%;
}

/* Luego el iframe con 100% height y width dentro del container div */
#AcercaDe__Video iframe {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
}

#AcercaDe__Texto {
  cursor: ns-resize;
  width: 90vw;
  height: 50vh;
  margin: auto;
  padding: 10px;
  border: var(--Verde) solid 5px;
  border-radius: 20px;
  -moz-border-radius:40px;
  overflow: auto;
  text-align: center;
}

#AcercaDe__Texto p {margin-bottom: 1rem;}

@media (min-width:780px) {
  #AcercaDe {flex-direction: row;}
  #AcercaDe__Video {width: 50%; padding-top: 37.5%;}
  #AcercaDe__Texto {
    width: 45%;
    height: 100%;
    width: 50%;
    height: 32vw;
    margin: auto auto auto 10px;
  }
}

/**************************/
/* FIN: SECCION ACERCA DE */
/**************************/

/*********************************/
/* INICIO: SECCION PUBLICACIONES */
/*********************************/

/*********************************/
/* FIN: SECCION PUBLICACIONES    */
/*********************************/

/*****************************/
/* INICIO: SECCION CONTACTO */
/*****************************/

.formulario {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.formulario input {
  width: 90%;
  height: 30px;
  margin: 0.5rem;
  background-color: #e2d8b9
}

.formulario textarea {
  width: 90%;
  margin: 0.5rem;
  background-color: #e2d8b9
}

.btn {
  color: var(--Ocre);
  border: 2px solid var(--Verde);
  border-radius: 6px;
  padding: 16px 32px;
  text-align: center;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  text-transform: uppercase;
}

/*****************************/
/* FIN: SECCION CONTACTO     */
/*****************************/

/*********************************************************/
/* SETEOS para el COMPORTAMIENTO RESPONSIVE              */
/*                                                       */
/*  RESOLUCIONES a CONSIDERAR en la PRUEBA RESPONSIVE    */
/*                                                       */
/* #   CLASE         RESOLUCION  RATIO                   */
/*     ------------  ----------  -----                   */
/* 1.- DESKTOP:      1920 X 1080  16:9                   */
/* 2.- DESKTOP:      1600 X  900  16:9                   */
/* 3.- TABLET:       1366 X 1024    -   iPad Pro         */
/* 4.- DESKTOP:      1280 X 1024   5:4  SVGA             */
/* 5.- TABLET:       1024 X  768   4:3  iPad & iPad Mini */
/* 6.- TABLET:        768 X 1024   3:4  iPad & iPad Mini */
/* 7.- CELULAR:       390 X  840    -   iPhone 12Pro     */
/* 8.- CELULAR:       375 X  667    -   iPhone SE        */
/* 9.- CELULAR:       360 X  740    -   Samsung S8+      */
/*********************************************************/

@media (max-width:1000px){
  .header__menu{flex-flow:column wrap; align-items:end; font-size: 85%;}
  .header__menu nav{order:3;}
  .header__menu__redes{order:1; display:flex; flex-flow:row wrap; align-items:end; padding: 0px 20px;}
  .header__menu__redes i{transform: scale(1.3);   padding: 5px 10px;
  }
}

@media (max-width:868px){
  header img{content: url(../img/logo.png);}
  .header__menu{font-size: 80%; padding:0;}
  .header__menu nav li{padding: 10px 10px;}
}

@media (max-width:768px){
}

@media (max-width:510px){
  .header__menu{font-size: 65%; padding: 2px 0px;}
  .header__menu nav li{padding: 10px 5px;}
  header img{padding: 2px 10px 2px 2px;}
}

@media (max-width:400px) {
  .header__menu {
    font-size: 55%;
    padding: 2px 0px;
  }

  header img {
    padding: 2px 1px 2px 0px;
  }

  .header__menu nav li {
    padding: 5px;
  }

  .header__menu nav li:hover {
    transform: scale(1.1);
    font-weight: bolder;
    padding: 5px 10px;
  }
}
