*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header, footer{
  background-color: #111; 
  color:#EEE;

  display: flex; 
  flex-flow: row wrap;
  justify-content:space-between;
}

header img{width: 10%; min-width: 80px; margin: 10px;}

header>div{width: 86%; }

header h1{text-align: center;}

header nav{
  display: flex; 
  flex-flow: row wrap;
  justify-content:space-around;
}

header nav li{list-style-type: none; margin: 10px;}

header nav a{text-decoration: none;}

header nav ul{
  display: flex; 
  flex-flow: row wrap; 
  justify-content:space-around;
}

section{
  height: 100px; 
  border: 2px dashed gray;
  border-radius: 30px;
  text-align: center;
  padding: 3%;
}

@media (min-width:800px){
  header h1{font-size: 2.5rem;}
  header nav{font-size: 1.25rem;}
}
@media (min-width:1000px){
  header h1{font-size: 3rem;}
  header nav{font-size: 1.5rem;}
}
@media (min-width:1200px){
  header h1{font-size: 3.5rem;}
  header nav{font-size: 1.75rem;}
}
@media (min-width:1400px){
  header h1{font-size: 4rem;}
  header nav{font-size: 2rem;}
}
